@font-face {
  font-family: "iconfont"; /* Project id 3576756 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1680702513429') format('woff2'),
       url('iconfont.woff?t=1680702513429') format('woff'),
       url('iconfont.ttf?t=1680702513429') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianying:before {
  content: "\e603";
}

.icon-guidang:before {
  content: "\e663";
}

.icon-qingdan:before {
  content: "\e60e";
}

.icon-pinglun:before {
  content: "\f491";
}

.icon-shejiaotubiao-46:before {
  content: "\e64b";
}

.icon-gengduo:before {
  content: "\e602";
}

.icon-sousuo:before {
  content: "\e6da";
}

.icon-yueliang:before {
  content: "\e6b8";
}

.icon-cat:before {
  content: "\e601";
}

.icon-dongwuyuan:before {
  content: "\e606";
}

.icon-weixin:before {
  content: "\e604";
}

.icon-biaoqian:before {
  content: "\e687";
}

.icon-shipin:before {
  content: "\e662";
}

.icon-fenlei:before {
  content: "\e688";
}

.icon-yinpin:before {
  content: "\e635";
}

.icon-taiyang:before {
  content: "\e611";
}

.icon-nanbiyesheng:before {
  content: "\e697";
}

.icon-nvbiyesheng:before {
  content: "\e698";
}

.icon-QQ:before {
  content: "\e667";
}

.icon--qingwa:before {
  content: "\e61a";
}

.icon-dianhualianxis:before {
  content: "\e649";
}

.icon-daohang-:before {
  content: "\e60c";
}

.icon-weixin1:before {
  content: "\e607";
}

.icon-youxiang:before {
  content: "\e630";
}

.icon-qingwadongwukatongkeai:before {
  content: "\e621";
}

.icon-xiaojidongwuniao:before {
  content: "\e627";
}

.icon-fengche:before {
  content: "\e60d";
}

.icon-tianjiaqunzu:before {
  content: "\e69d";
}

.icon-zhihuitongxun:before {
  content: "\e69f";
}

.icon-wenzhang:before {
  content: "\ec64";
}

.icon-yinpin1:before {
  content: "\e6e2";
}

.icon-xiaogouzi:before {
  content: "\e6c0";
}

.icon-xiaozhuzhu:before {
  content: "\e6c1";
}

.icon-guanyu:before {
  content: "\e694";
}

